@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,300&family=Roboto:wght@100&display=swap');
.title{
    color: rgb(25, 0, 255);
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-decoration: underline;
    margin-left: 20px;
}